<h1>Resultados de búsqueda para "<%= @keyword %>"</h1>

<% if @tweets.empty? %>
  <p>No se encontraron tweets que coincidan con la búsqueda.</p>
<% else %>
  <% @tweets.each do |tweet| %>
    <div class="tweet">
      <p><strong><%= tweet.user_name %></strong></p>
      <p><%= tweet.description %></p>
    </div>
  <% end %>
<% end %>

<%= form_tag(search_tweets_path, method: "get" ) do %>
      <%= text_field_tag :keyword, params[:keyword], placeholder: "Buscar tweets...", class:"my-2" %>
        <%= submit_tag "Buscar" %>
          <% end %>


<%= link_to "Back to tweets", tweets_path %>
